header {
    background: linear-gradient(to right, #0F172A, #334155);
    height: 400px;
}

header p {
    color: rgb(227, 227, 227);
}

#header-info h1, #header-info p{
    margin-bottom: 16px;
}

#header-info button { 
    background-color: #E2E8F0;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    color: #0F172A;
    font-family: inter;
    margin-top: 10px
}

#header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

