nav {
    background-color: #1E3A8A;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 50px;
    gap: 20px;
}

#logo-nav {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#logo-nav img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

#links-nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
}